<%= form_for @post do |form| %>

	<div class="field-container">
		<%= form.label :title %>
		<%= form.text_field :title %>
	</div>
	<div class="field-container">
		<%= form.label :content %>
		<%= form.text_area :content %>
	</div>

	<%= form.submit %>

<% end %>